#main-container {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 100px;
}

div#editor-container {
  display: flex;
  flex: 1;
  // flex-direction: row;
  flex-direction: column;
  max-width: 50%;
  overflow:scroll;
}

#main {
  display: flex;
  flex: 1;
}

#editor {
  font: 14px inconsolata, source-code ;
  border-radius: 7px;
  flex: 1;
  background: rgba(0, 200, 175, 0.5);
}

.ace-gutter {
    color: #58585b;
    min-width:52px !important;;
}

.ace_content, .ace_gutter {
  padding-top: 5px;
}

.ace_gutter-active-line {
  margin-top: 5px;
}

.ace_gutter-cell {
  background-image: none !important;
  // background-position: 2px center !important;
  // padding-right: 15px !important;;
  background-position: 0 !important;
  padding-right: 5px !important;
  padding-left: 5px !important;
  color: #AFAFAF;
}

.ace_info {
  background-color: #D7E5F5 !important;
}

.ace_warning {
  background-color: #FFD700 !important;
  color: #ffffff !important;
}

.ace_error {
  background-color: #FF6347 !important;
  color: #ffffff !important;
}


body.horizontal {
  div#editor-container {
    flex-direction: column;
  }
}

.ace_scroller.ace_scroll-left {
  box-shadow: none !important;
}

/* property, tag, boolean,
   number, function-name, constant,
   symbol */
.ace_numeric, 
.ace_tag {
    color: #DC3787 !important; /* not p5 pink, but related */ 
}

/* atrule, attr-value, keyword,
   class-name */
.ace_type,
.ace_class,
.ace_attribute-name {
    color: #704F21 !important; /* darker brown */
}

/* selector, attr-name, 
function, builtin */
.ace_function, 
.ace_keyword,
.ace_support {
    color: #00A1D3 !important; /* not p5 blue, but related */ 
}

/* comment, block-comment, prolog,
   doctype, cdata */
.ace_comment {
    color: #A0A0A0 !important; /* light gray */
}

/* operator, entity, url,
variable */ 
.ace_string {
  color: #a67f59 !important; /* og coy a67f59 a light brown */
}

.ace_operator {
    color: #333 !important;
}

/* regex, important */
.ace_regexp {
  color: #e90 !important; /* og coy e90 orange */
}

.ace-twilight .ace_variable {
  color: #EC5097 !important;
}