html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  /*background: #c8c5c2;*/
  /*background: #AFAFAF;*/
  background:#58585B;
}

#defaultCanvas {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
