doctype html

html(lang="en")
	head

	title= 'unsaved draft'

	body= 'helllo world'

	include ../templates/editbutton.html
	script(src='../js/debug-console.js')
	script(src='../js/load-local-storage.js')