		#sketchframe-container {
	width:100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 0;
}

#sketchPane {
	position: absolute;
	top: 0;
	width:100%;
	height:100%;
}

#sketchPane {
	width:100%;
	height:100%;
	right: 0;

	&.hidden {
		display:none;
	}
}

#sketchFrame {
	width:100%;
	height: 100%;
}