
#tab-container {
  display: flex;
  flex-direction: column;
  max-height: 35px;
   -webkit-touch-callout: none;
    -webkit-user-select: none;
  z-index:2;
  font-family: Montserrat-Regular;
  font-size: 12px;
  line-height: 20px;
  margin-bottom:2px;
  // overflow-x: scroll;
}


#tabs {
  margin-left: 26px;
  flex-direction: row;
  // overflow: scroll;


  ul {
    list-style: none;
    padding:0;
    // margin:0;
    white-space: nowrap;
  }

  li {
    margin: 0 0 0 0;
    display: inline-block;
  }
  
  div {
    display: inline-block;
    height: 20px;
    background-color: #4e4e4e;
    color: #7D7D7D;
    filter:brightness(80%);
    -webkit-filter: brightness(80%);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    min-width:120px;
    padding: 0 5px 5px 0px; 
    text-align: center;
  }
  div:hover {
    filter:brightness(100%);
    -webkit-filter: brightness(100%);
  }
  div.selected{
     background-color: #737373;
     color:#fff;
  }
  div.selected a{
    color:#fff;
  }
  a{
    text-decoration: none;
    line-height: 2.4;
    text-align: center;
    color: #7D7D7D;
  }
  a.delete{
    color: #aaa;
  }
}

#add {
  width: 60px;
  height: 30px; 

  a {
    width: 50%;
    display:block;
  }
  a:hover {
    color:white;
  }
}

#minimize {
  // width:30px;
  // height: 30px;
  float: right;
  margin-right:10px !important;
  a {
    width:100%;
    display: block;
  }

  a:hover {
    color:white;
  }

}