#debug {
  background-color: #F1F1F1; }

#debugText {
  z-index: 100;
  position: absolute;
  bottom: 20px;
  left: 10px;
  background-color: #F1F1F1;
  max-height: 200px;
  overflow: scroll; }

#main-container {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 100px; }

div#editor-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 50%; }

#main {
  display: flex;
  flex: 1; }

#editor {
  font: 14px inconsolata, source-code;
  border-radius: 7px;
  flex: 1;
  background: rgba(70, 70, 70, 0.7); }

.ace-gutter {
  color: #58585b;
  min-width: 52px !important; }

.ace_content, .ace_gutter {
  padding-top: 5px; }

.ace_gutter-active-line {
  margin-top: 5px; }

.ace_gutter-cell {
  background-image: none !important;
  background-position: 0 !important;
  padding-right: 5px !important;
  padding-left: 5px !important;
  color: #AFAFAF; }

.ace_info {
  background-color: #D7E5F5 !important; }

.ace_warning {
  background-color: #FFD700 !important;
  color: #ffffff !important; }

.ace_error {
  background-color: #FF6347 !important;
  color: #ffffff !important; }

body.horizontal div#editor-container {
  flex-direction: column; }

.ace_scroller.ace_scroll-left {
  box-shadow: none !important; }

/* property, tag, boolean,
   number, function-name, constant,
   symbol */
.ace_numeric,
.ace_tag {
  color: #DC3787 !important;
  /* not p5 pink, but related */ }

/* atrule, attr-value, keyword,
   class-name */
.ace_type,
.ace_class,
.ace_attribute-name {
  color: #704F21 !important;
  /* darker brown */ }

/* selector, attr-name, 
function, builtin */
.ace_function,
.ace_keyword,
.ace_support {
  color: #00A1D3 !important;
  /* not p5 blue, but related */ }

/* comment, block-comment, prolog,
   doctype, cdata */
.ace_comment {
  color: #A0A0A0 !important;
  /* light gray */ }

/* operator, entity, url,
variable */
.ace_string {
  color: #a67f59 !important;
  /* og coy a67f59 a light brown */ }

.ace_operator {
  color: #333 !important; }

/* regex, important */
.ace_regexp {
  color: #e90 !important;
  /* og coy e90 orange */ }

.ace-twilight .ace_variable {
  color: #EC5097 !important; }

#menu-container {
  /*  display: flex;
  flex: 1;
  flex-direction: row;
  max-height: 35px;
*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  opacity: 0;
  /*position: absolute;*/
  left: 0px;
  top: 0px;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out; }

#menu-container:hover {
  opacity: 1; }

#play {
  background: none;
  background-image: url("../images/play-gray.svg");
  border: 0;
  width: 33px;
  height: 34px;
  padding: 7px;
  font-size: 25px;
  display: inline;
  cursor: pointer;
  outline: 0;
  float: left;
  margin-top: 8px; }
  #play:hover {
    background-image: url("../images/play-pink.svg"); }
  #play.running {
    background-image: url("../images/stop-gray.svg"); }
    #play.running:hover {
      background-image: url("../images/stop-orange.svg"); }

#button_header {
  margin-left: 15px;
  height: 50px;
  margin-bottom: 8px; }

#project-name {
  padding-left: 20px;
  font-size: 24px;
  color: #ed225d;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: default;
  float: left; }

#toolbar {
  height: 60px;
  width: 100%; }

#actions button {
  border: 0;
  cursor: pointer;
  background: none;
  margin: 0;
  padding: 0;
  margin-right: 15px;
  outline: 0; }

#actions button, #actions button img {
  width: 32px; }

#actions button img:hover {
  opacity: 0.6; }

#actions #add, #actions #export {
  float: left; }

#actions #settings {
  float: right;
  margin-top: 10px;
  right: 2px;
  bottom: 2px;
  position: absolute; }

#settingsContainer {
  position: absolute;
  background-color: #959595;
  bottom: 10px;
  right: 10px;
  z-index: 999;
  box-shadow: 0px 0px 6px #999;
  color: #fff;
  opacity: 0.1;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out; }

#settingsContainer:hover {
  opacity: 1; }

#settingsPane {
  width: 100%;
  font-family: Karla; }
  #settingsPane #titleBar {
    background-color: #58585b;
    padding: 5px 12px 1px; }
  #settingsPane #optionsZone {
    padding: 0px 12px; }
    #settingsPane #optionsZone div {
      clear: both;
      padding-bottom: 14px; }
  #settingsPane .hiddenRadio {
    overflow: auto; }
    #settingsPane .hiddenRadio input[type="radio"] {
      display: none; }
    #settingsPane .hiddenRadio input[type="radio"]:checked + label svg {
      fill: #e1dedc; }
      #settingsPane .hiddenRadio input[type="radio"]:checked + label svg:hover {
        fill: #fff; }
    #settingsPane .hiddenRadio label {
      display: block; }
    #settingsPane .hiddenRadio label.left {
      float: left; }
    #settingsPane .hiddenRadio label.right {
      float: right; }
  #settingsPane #selectable:hover {
    fill: #fff; }
  #settingsPane #consoleText {
    position: relative;
    top: 5px;
    margin: 4px 0 6px; }
  #settingsPane .console {
    height: 40px;
    width: 70px;
    fill: #828384;
    transition: all 0.3s ease; }
    #settingsPane .console:hover {
      fill: #fff; }
  #settingsPane #close {
    width: 19px;
    height: 19px;
    position: absolute;
    top: 4px;
    right: 4px; }
  #settingsPane #x {
    fill: #2F2F30;
    transition: all 0.1s ease; }
    #settingsPane #x:hover {
      fill: #fff;
      fill-opacity: 1; }
  #settingsPane #consoleHorizontal {
    float: right; }
  #settingsPane #libraryIcon {
    width: 30px;
    float: left;
    position: relative; }
  #settingsPane #textAdjust {
    width: 30px;
    float: left;
    position: relative;
    top: 5px;
    left: 3px; }
  #settingsPane #textAdjustInput {
    width: 105px; }
  #settingsPane #indentation {
    padding-top: 14px; }
  #settingsPane #libs {
    margin-bottom: 28px;
    margin-top: 4px; }
  #settingsPane #ww {
    overflow: auto; }
  #settingsPane #runInBrowserContainer {
    margin-bottom: 30px; }
  #settingsPane #wordWrapIcon {
    width: 23px;
    float: left;
    position: relative;
    top: 10px;
    left: 5px; }
  #settingsPane #browserIcon {
    width: 23px;
    float: left;
    position: relative;
    top: 8px;
    left: 5px; }
  #settingsPane .fade {
    transition: all 0.3s ease; }
  #settingsPane .hiddenCheckbox input[type="checkbox"] {
    display: none; }
  #settingsPane .hiddenCheckbox input[type="checkbox"] + label {
    background-color: #adacac;
    color: #828384; }
    #settingsPane .hiddenCheckbox input[type="checkbox"] + label:hover {
      background-color: #cdcccc; }
  #settingsPane .hiddenCheckbox input[type="checkbox"]:checked + label {
    background-color: #e1dedc;
    color: #58585b; }
    #settingsPane .hiddenCheckbox input[type="checkbox"]:checked + label:hover {
      background-color: #fefefc; }
  #settingsPane #tab {
    height: 10px;
    width: 15px;
    position: relative;
    top: 1px;
    left: -4px;
    fill: #828384;
    transition: all 0.3s ease; }
  #settingsPane #space {
    height: 10px;
    width: 15px;
    float: left;
    position: relative;
    top: 5px;
    left: 3px;
    fill: #828384;
    transition: all 0.3s ease; }
  #settingsPane #tabBox {
    float: right; }
  #settingsPane #spaceBox {
    float: left; }
  #settingsPane #indentOptions {
    position: relative;
    /* margin-bottom: 12px; */ }
    #settingsPane #indentOptions input[type="radio"]:checked + label {
      background-color: #e1dedc; }
    #settingsPane #indentOptions input[type="radio"] + label:hover {
      background-color: #fff; }
  #settingsPane .indentSelection {
    color: #828384;
    background-color: #adacac;
    display: inline-block;
    border-radius: 4px;
    padding: 4px;
    text-align: center;
    width: 44%;
    transition: all 0.3s ease; }
  #settingsPane .highlight {
    background-color: #e1dedc;
    display: inline-block;
    border-radius: 4px;
    padding: 4px;
    float: right;
    width: 105px;
    text-align: center; }
  #settingsPane h2 {
    font-size: 16px;
    margin-top: 0;
    font-weight: normal;
    -webkit-margin-after: 2px; }
  #settingsPane p {
    font-size: 13px;
    color: #58585b; }
  #settingsPane label {
    color: #58585b;
    font-size: 13px;
    position: relative;
    top: 5px; }
  #settingsPane input[type="text"] {
    width: 25px;
    float: right;
    border-radius: 5px;
    border: none;
    background-color: #e1dedc;
    padding: 4px;
    outline: none;
    color: #58585b;
    font-family: Karla;
    font-size: 13px; }
  #settingsPane input#tabSize {
    margin-left: 0.3em; }

#side-container {
  flex-direction: column;
  display: flex; }

#sidebar-container {
  -webkit-user-select: none;
  visibility: hidden;
  position: relative;
  width: 10px;
  margin-top: 120px;
  margin-bottom: 30px;
  flex: 1;
  overflow-y: auto; }

#sidebar-container.expanded {
  width: 160px;
  visibility: visible;
  min-width: 40px; }

#sidebar {
  flex: 1;
  display: flex;
  flex-direction: column; }

.runfile {
  position: absolute;
  margin-left: -30px;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 10px solid #38B449;
  top: 4px;
  display: none;
  cursor: pointer;
  opacity: .4; }

.runfile.mainfile {
  opacity: 1;
  display: block; }

#sidebar-drag {
  flex: none;
  cursor: col-resize;
  background-color: none;
  position: absolute;
  width: 7px;
  height: 100%;
  right: 0;
  top: 0; }

#filetree {
  overflow-x: auto;
  flex: 1; }
  #filetree ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    #filetree ul li {
      margin: 0;
      padding: 0;
      position: relative; }
      #filetree ul li div {
        padding: 3px;
        padding-left: 64px;
        margin-left: 10px;
        cursor: pointer;
        color: #333333;
        min-width: 60px; }
      #filetree ul li div.selected {
        background-color: #f6f6f6;
        border-radius: 5px 0px 0px 5px; }
      #filetree ul li ul li div {
        padding-left: 85px; }
      #filetree ul li ul li ul li div {
        padding-left: 106px; }
      #filetree ul li ul li ul li ul li div {
        padding-left: 127px; }
  #filetree .toggle {
    top: 1px;
    left: 13px;
    position: absolute;
    width: 24px;
    margin-top: -2px;
    height: 24px; }
    #filetree .toggle.open {
      background-image: url("../images/expanded.svg"); }
    #filetree .toggle.closed {
      background-image: url("../images/collapsed.svg"); }
  #filetree .icon {
    width: 13px;
    height: 15px;
    position: absolute;
    top: 4px;
    margin-left: -20px;
    background-size: 13px auto;
    background-repeat: no-repeat; }
  #filetree .icon.file {
    background-image: url("../images/file1.svg"); }
  #filetree .icon.db {
    background-image: url("../images/database.svg"); }
  #filetree .icon.folder {
    background-image: url("../images/folder.svg");
    background-size: 17px auto;
    top: 5px;
    margin-left: -22px;
    width: 17px;
    height: 16px; }
  #filetree .icon.image {
    background-image: url("../images/image.svg"); }

#sketchframe-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1; }

#sketchPane, #editorPane {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%; }

#sketchPane {
  width: 100%;
  height: 100%;
  right: 0; }

#sketchFrame {
  width: 100%;
  height: 100%; }

#tab-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: 35px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  z-index: 2; }

#tabs {
  margin-left: 53px; }
  #tabs ul {
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap; }
  #tabs li {
    margin: 0 0 0 0;
    display: inline-block; }
  #tabs div {
    display: inline-block;
    height: 30px;
    background-color: #DCDCDC;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    min-width: 20px;
    padding: 0 5px 0 5px;
    margin-right: 2px;
    text-align: center; }
  #tabs div.selected {
    background-color: #fff; }
  #tabs a {
    display: inline-block;
    text-decoration: none;
    line-height: 2.4;
    text-align: center;
    color: #000; }
  #tabs a.delete {
    color: #aaa; }

#add {
  width: 30px;
  height: 30px; }
  #add a {
    width: 100%;
    display: block; }

@font-face {
  font-family: karla;
  src: url("../fonts/Karla/Karla-Regular.ttf"); }

@font-face {
  font-family: karla-bold;
  src: url("../fonts/Karla/Karla-Bold.ttf"); }

@font-face {
  font-family: source-code;
  src: url("../fonts/Source_Code_Pro/SourceCodePro-Regular.ttf"); }

@font-face {
  font-family: inconsolata;
  src: url("../fonts/Inconsolata/inconsolata.ttf"); }

@font-face {
  font-family: avenir-next-medium;
  src: url("../fonts/Avenir_Next_Medium/AvenirNextLTW01-Medium.ttf"); }

body, html {
  color: #58595B;
  height: 100%;
  margin: 0;
  padding: 0;
  font: 14px karla, sans-serif; }

body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden; }

.file-handler {
  display: none; }
