$transitiontimelong: 1.75s;
$transitiontimeshort: 0.1s;

#menu-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  width:100%;
  height: 48px;
   -webkit-touch-callout: none;
    -webkit-user-select: none;
    opacity: 1.0;
    /*position: absolute;*/
    left: 0px;
    top: 0px;

  transition: opacity $transitiontimelong 0.5s ease-out;
   -moz-transition: opacity $transitiontimelong 0.5s ease-out;
   -webkit-transition: opacity $transitiontimelong 0.5s ease-out;

  position:absolute;
  background-color:black;

}

#menu-container.sketchstopped {
  opacity:1;
  transition: opacity $transitiontimeshort 0s ease-in;
   -moz-transition: opacity $transitiontimeshort 0s ease-in;
   -webkit-transition: opacity $transitiontimeshort 0s ease-in;
}

#menu-container:hover {
  opacity: 1;

  transition: opacity $transitiontimeshort 0s ease-in;
   -moz-transition: opacity $transitiontimeshort 0s ease-in;
   -webkit-transition: opacity $transitiontimeshort 0s ease-in;

}


#play {
 background: none;
 background-image: url('/images/play-gray.svg');
 border: 0;
 width: 33px;
 height: 34px;
 font-size: 25px;
 display: inline;
 cursor: pointer;
 outline: 0; 
 float: right;
 margin-top: -22px;
 margin-right: 10px;
 &:hover {
  background-image: url('/images/play-pink.svg');
}

&.running {
  background-image: url('/images/stop-gray.svg');

  &:hover {
    background-image: url('/images/stop-orange.svg');
  }
}
}

#save {
 background: none;
 border: 0;
 //width: 33px;
 height: 40px;
 font-size: 25px;
 display: inline;
 cursor: pointer;
 outline: 0; 
 float: right;
 margin-top: -18px;
 margin-right: 20px;
}

// #dropDown {
//  background: none;
//  border: 0;
//  //width: 33px;
//  height: 20px;
//  display: inline;
//  cursor: default;
//  float: right;
//  margin-top: -18px;
//  margin-right: 20px;
// }

.menuItem {
  background: none;
  border: 0;
  height: 20px;
  padding: 0px;
  padding-right: 20px;
  display: inline;
  cursor: pointer;
  outline: 0; 
  float: left;
}

// #filemenu-burger {
//   background: none;
//   border: 0;
//   height: 20px;
//   padding: 0px;
//   display: inline;
//   cursor: pointer;
//   outline: 0; 
//   float: left;
// }

// #actions {
//   button {
//     border: 0;
//     cursor: pointer;
//     z-index: 3;
//     position: absolute;
//   }

//   button, button img {
//     width: 20px;
//     opacity: 0.5;
//     transition: opacity 0.25s ease-in-out 0s;
//   }

//   button:hover {
//     opacity: 1;
//   }
// }

img.menu{
  max-height: 100%;
}

#button_header {
  // margin-left: 0px;
  height: 50px;
  margin: 0px;
  padding-left:10px;
  width:100%;

  button {
    border: 0;
    cursor: pointer;
    z-index: 3;
  }

  button, button img {
    opacity: 0.75;
    transition: opacity .25s ease-in-out 0s;
  }

  button:hover {
    opacity: 1;
  }
}

#project-name {
  //padding-left: 20px;
  padding-right: 20px;
  margin-right: 10px;
  margin-left: -20px;
  font-size: 24px;
  // color: #58585b;
  //color: #ed225d;
  // font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: default; 
  float:left;
}


// #toolbar {
//   height: 60px;
//   width: 100%;
//   right: 0px;
//   top:0px;
// }


.pure-menu-item span {
  background: white;
  color: #ed225d;
  padding:5px;
}

.pure-menu-item span:hover {
  background: #ed225d;
  color:white;
}

.pure-menu-item span:active {
  background: yellow;
  color:pink;
}


#custom-dropdown-menus {
  float:right;
  margin-top: 13px;
  // margin-right: 5px;
}

#profile-span {
  margin-top:0px;
  right: 0px;
  margin-top:-20px;
  display:block;
  background:url('/images/temp/profile.png') no-repeat top left;
  background-size:100%;
  width:50px;
  height:50px;
}

.username {
  position: fixed;
  right:5px;
  margin-top:-15px;
}

#toast-msg {
  text-align: center;
  margin-left: auto;
  left: 25%;
  position: relative;
  opacity: 1;
}

#toast-msg.hidden {
  opacity:0;
  transition: opacity $transitiontimelong 1.5s ease-out;
   -moz-transition: opacity $transitiontimelong 1.5s ease-out;
   -webkit-transition: opacity $transitiontimelong 1.5s ease-out;

}