$transitiontimelong: 1.75s;
$transitiontimeshort: 0.1s;

#menu-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  width:100%;
  // max-height: 35px;
   -webkit-touch-callout: none;
    -webkit-user-select: none;
    opacity: 0.0;
    /*position: absolute;*/
    left: 0px;
    top: 0px;

  transition: opacity $transitiontimelong 0.5s ease-out;
   -moz-transition: opacity $transitiontimelong 0.5s ease-out;
   -webkit-transition: opacity $transitiontimelong 0.5s ease-out;

  position:absolute;
  background-color:black;

}

#menu-container.sketchstopped {
  opacity:1;
  transition: opacity $transitiontimeshort 0s ease-in;
   -moz-transition: opacity $transitiontimeshort 0s ease-in;
   -webkit-transition: opacity $transitiontimeshort 0s ease-in;
}

#menu-container:hover {
  opacity: 1;

  transition: opacity $transitiontimeshort 0s ease-in;
   -moz-transition: opacity $transitiontimeshort 0s ease-in;
   -webkit-transition: opacity $transitiontimeshort 0s ease-in;

}

#play {
 background: none;
 background-image: url('../images/play-gray.svg');
 border: 0;
 width: 33px;
 height: 34px;
 padding: 7px;
 font-size: 25px;
 display: inline;
 cursor: pointer;
 outline: 0; 
 float: left;
 margin-top: 8px;
 &:hover {
  background-image: url('../images/play-pink.svg');
}

&.running {
  background-image: url('../images/stop-gray.svg');

  &:hover {
    background-image: url('../images/stop-orange.svg');
  }
}
}



#button_header {
  margin-left: 0px;
  height: 50px;
  margin-bottom: 8px;
  padding-left:10px;
  width:100%;
}

#project-name {
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 20px;
  font-size: 24px;
  // color: #58585b;
  color: #ed225d;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: default; 
  float:left;
}


// #toolbar {
//   height: 60px;
//   width: 100%;
//   right: 0px;
//   top:0px;
// }

#actions {
  button {
    border: 0;
    cursor: pointer;
    background: none;
    margin: 0;
    padding: 0;
    margin-right: 15px;
    outline: 0;
  }

  button, button img {
    width: 32px;
  }

  
  button img:hover {
    opacity: 0.6;
  }

  #add, #export {
    float: left;
  }

  #settings {
    float: right;
    top: 8px;
    right: 55px;
    // bottom: 2px;
    position:absolute;
  }
}

.pure-menu-item span {
  background: white;
  color: #ed225d;
  padding:5px;
}

.pure-menu-item span:hover {
  background: #ed225d;
  color:white;
}

.pure-menu-item span:active {
  background: yellow;
  color:pink;
}


#custom-dropdown-menus {
  float:right;
  margin-top: 15px;
  margin-right: 5px;
}

#profile-span {
  margin-top:0px;
  right: 0px;
  margin-top:-20px;
  display:block;
  background:url('../images/temp/profile.png') no-repeat top left;
  background-size:100%;
  width:50px;
  height:50px;
}

.username {
  position: fixed;
  right:5px;
  margin-top:-15px;
}