<nav class="{{theme}}">

  <div class="top-nav-left">
    <ul>
      <li>
        <a href="#" v-on="click: $root.newProject()">New</a>
      </li>

      <li class="dropdown-menu" v-on="mouseenter:openOpenDropdown, mouseleave:closeOpenDropdown"><a href="#">Open</a>

        <div class="dropdown-content {{openDropdownClass}}" v-on="mouseleave: closeOpenDropdown">
          <div class="has-submenu" v-on="mouseenter: prevDef, mouseleave: clearDef"><a href="#">Examples</a>
            <div class="submenu-container">
              <ul class="submenu" style="display:none;" >
                  <li v-repeat="$root.examples" class="filemenu" data-path="{{path}}" v-on="click: $root.loadExample(this)">
                    <span>{{name}}</span>
                  </li>
              </ul>
            </div>
          </div>

          <div class="has-submenu"><a href="#">Recent</a>
            <div class="submenu-container">
              <ul class="submenu" style="display:none;">
                <li v-repeat="$root.recentProjects">
                  <span data-projectid="{{id}}"  v-on="click: selectRecentProject(this)">
                    <span data-projectid="{{id}}">{{name}}</span> &nbsp;<span class="timeago" data-projectid="{{id}}"> {{timeago}}</span>
                  </span>
                </li>
              </ul>
            </div>
          </div>

          <div><a href="#">Upload</a>

        </div>
      </li>

      <li class="dropdown-menu" v-on="mouseenter:openSaveDropdown, mouseleave:closeSaveDropdown"><a href="#" >Save</a>
        <span class="dropdown-content {{saveDropdownClass}}" v-on="mouseleave: closeSaveDropdown">
          <span><a href="#" v-on="click: $root.commitGist()">Save to Cloud</a></span>
          <span><a href="#" v-on="click: $root.downloadZip()">Download Zip</a></span>
        </span>
      </li>

      <li>
        <a  href="#" v-on="click: openShareDialog">Share</a>
      </li>
    </ul>
    <hr>
  </div>

  <div class="top-nav-center">
    <!-- display a message -->
    <span id="toast-msg">{{toastMsg}}</span>
  </div>

  <div class="top-nav-right">
    <ul>
      <li>
        <a href="#">Gallery</a>
      </li>

      <!-- login / profile -->
      <li v-if="!loggedIn" v-on="click: $root.authenticate()">
        <a href="#">Log in</a>
      </li>

<!--       <li v-if="loggedIn" v-on="click: $root.authenticate()">
        <a href="#"> Hello <b>{{currentUser.username}}</b> !</a>
      </li>
 -->
      <li v-if="loggedIn" class="dropdown-menu" v-on="mouseenter:openUserDropdown, mouseleave:closeUserDropdown"><a href="#"> Hello <b>{{currentUser.username}}</b> !</a>
        <span class="dropdown-content {{userDropdownClass}}" v-on="mouseleave: closeUserDropdown">
          <span><a href="#" v-on="click: $root.logOut()">Log Out</a></span>
        </span>
      </li>


    </ul>
    <hr>
  </div>

</nav>


<div>
</div>


<div id ="button_header" style="display:none;">

  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">

      <li class="pure-menu-item" v-on="click: $root.toggleFilemenu()">
        <button class="menuItem">
          <img class="menu" src="/images/filemenu-white.svg">
        </button>
      </li>

      <li class="pure-menu-item">
        <div class="menuItem">
        <img class="menu" src="/images/temp/logo.png">
      </div>
      </li>

      <li class="pure-menu-item">
        <button id="play"  v-class="running: $root.running" v-on="click: $root.toggleRun()"></button>
      </li>

      <li class="pure-menu-item">
        <h1 id="project-name" v-text="projectName" v-on="click: $root.renameProject()"></h1>
      </li>

    </ul>



      <!-- <div > -->
        <ul class="pure-menu-list" id="custom-dropdown-menus">


          <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover pure-menu-allow-mousedown">
            <button id="save" v-on="click: $root.commitGist()"><img class="menu" src="/images/save-white.svg"></button>
            <ul class="pure-menu-children">
              <li class="pure-menu-item">
                <span v-on="click: $root.commitGist()">Save to Cloud</span>
              </li>
              <li class="pure-menu-item">
                <span v-on="click: $root.downloadZip()" class="pure-menu-link">Download Zip</span>
              </li>
            </ul>
          </li>

        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
          <span id="profile-span" v-on="click: profileClicked()"></span>

          <ul class="pure-menu-children">

            <li class="pure-menu-item" v-if="!loggedIn" v-on="click: $root.authenticate()">
              <span>Log in</span>
            </li>

            <li class="pure-menu-item" v-if="loggedIn" v-on="click: $root.authenticate()">
              <span class="username"> hello <b>{{currentUser.username}}</b> </span>!
            </li>

            <li class="pure-menu-item" v-if="loggedIn" v-on="click: $root.logOut()">
              <span>Log Out</span>
            </li>

          </ul>
        </li>

      </ul>
    <!-- </div> -->
  </div> <!-- end pure-menu-->

  <!-- <div id="toolbar"> -->
  <!-- </div> -->
</div>