<nav class="{{theme}}">

  <div class="top-nav-left">
    <ul>
      <li>
        <a v-on="click: $root.newProject()">New</a>
      </li>

      <li class="dropdown-menu" v-on="mouseenter:openOpenDropdown, mouseleave:closeOpenDropdown"><a>Open</a>

        <div class="dropdown-content {{openDropdownClass}}" v-on="mouseleave: closeOpenDropdown">
          <!-- v-on="mouseenter: prevDef, mouseleave: clearDef" -->
          <div class="has-submenu"><a>Examples</a>
            <div class="submenu-container">
              <ul class="submenu" style="display:none;" >
                  <li v-repeat="$root.examples" class="filemenu" data-path="{{path}}" v-on="click: $root.loadExample(this)">
                    <span>{{folder}} - {{name}}</span>
                  </li>
              </ul>
            </div>
          </div>

          <div class="has-submenu"><a>Recent</a>
            <div class="submenu-container">
              <ul class="submenu" style="display:none;">
                <li v-repeat="$root.recentProjects">
                  <span data-projectid="{{id}}"  v-on="click: selectRecentProject(this)">
                    <span data-projectid="{{id}}">{{name}}</span> &nbsp;
                      <span class="timeago" data-projectid="{{id}}" title="{{dateModified}}">{{dateModified}}</span>
                  </span>
                </li>
              </ul>
            </div>
          </div>

          <div><a v-on="click: openSketchbook()">Sketchbook</a></div>

          <div><a >Upload</a></div>

        </div>
      </li>

      <li class="dropdown-menu" v-on="mouseenter:openSaveDropdown, mouseleave:closeSaveDropdown"><a >Save</a>
        <span class="dropdown-content {{saveDropdownClass}}" v-on="mouseleave: closeSaveDropdown">

          <!-- if user owns project... -->
          <span v-if="userOwnsProject" ><a v-on="click: $root.saveToCloud()">Save</a></span>
          <span v-if="userOwnsProject" ><a v-on="click: $root.saveAs()">Save As</a></span>

          <!-- if user does not own project... -->
          <span v-if="!userOwnsProject">

            <a v-if="currentUserID" v-on="click: $root.saveToCloud(currentUser._id)">Save as {{currentUser.username}}</a>
            <a v-if="!currentUserID" v-on="click: $root.saveToCloud('anon')">Save as Anonymous User (not logged in)</a>

          </span>


          <span><a v-on="click: $root.downloadZip()">Download Zip</a></span>
        </span>
      </li>

      <li>
        <a  v-on="click: openShareDialog">Share</a>
      </li>
    </ul>
    <hr>
  </div>

  <div class="top-nav-center">
    <!-- display a message -->
    <span id="toast-msg" class="hidden">{{toastMsg}}</span>
  </div>

  <div class="top-nav-right">
    <ul>
      <li>
        <a>Gallery</a>
      </li>

      <!-- login / profile -->
      <li v-if="!loggedIn" v-on="click: $root.authenticate()">
        <a>Log in</a>
      </li>

<!--       <li v-if="loggedIn" v-on="click: $root.authenticate()">
        <a> Hello <b>{{currentUser.username}}</b> !</a>
      </li>
 -->
      <li v-if="loggedIn" class="dropdown-menu" v-on="mouseenter:openUserDropdown, mouseleave:closeUserDropdown"><a> Hello <b>{{currentUser.username}}</b> !</a>
        <span class="dropdown-content {{userDropdownClass}}" v-on="mouseleave: closeUserDropdown">
          <span><a v-on="click: $root.logOut()">Log Out</a></span>
        </span>
      </li>


    </ul>
    <hr>
  </div>

</nav>
