<nav class="{{$root.theme}}">

  <div class="top-nav-left nopointer">
    <ul>
      <li>
        <a v-on:click="$root.newProject()">New</a>
      </li>

      <li class="dropdown-menu" v-on:mouseenter="openOpenDropdown"><a v-on:click="openSketchbook">Open</a>

        <div class="dropdown-content">

          <div class="has-submenu"><a>Examples</a>
            <div class="submenu-container">
              <ul id="submenu1" class="submenu">
<!-- class="filemenu" -->
                  <li v-for="ex in $root.examples" data-path="{{ex.path}}" v-on:click="loadExample(ex)">
                    <span >{{ex.folder}} - {{ex.name}}</span>
                  </li>
              </ul>
            </div>
          </div>

          <div class="has-submenu"><a>Recent</a>
            <div class="submenu-container">
              <ul class="submenu">
                <li v-for="proj in $root.recentProjects">
                  <span data-projectid="{{proj.id}}"  v-on:click="selectRecentProject">
                    <span data-projectid="{{proj.id}}">{{proj.name}}</span> &nbsp;
                      <span class="timeago" data-projectid="{{proj.id}}" title="{{proj.dateModified}}">{{proj.dateModified}}</span>
                  </span>
                </li>
              </ul>
            </div>
          </div>

          <div><a v-on:click="openSketchbook">Sketchbook</a></div>

          <!-- <div><a >Upload</a></div> -->

        </div>
      </li>

      <li class="dropdown-menu"><a v-on:click="defaultSave">Save</a>
        <span class="dropdown-content">

          <!-- if user owns project... -->
          <span v-if="userOwnsProject" ><a v-on:click="$root.saveToCloud()">Save</a></span>
          <span v-if="userOwnsProject" ><a v-on:click="$root.saveAs()">Save As</a></span>

          <!-- if user does not own project... -->
          <span v-if="!userOwnsProject">

            <a v-if="loggedIn" v-on:click="$root.saveAs(currentUser._id)">Save As {{currentUser.username}}</a>
            <a v-if="!loggedIn" v-on:click="$root.saveAs()">Save As Anonymous User (not logged in)</a>

          </span>


          <span><a v-on:click="$root.downloadZip()">Download Zip</a></span>
        </span>
      </li>

      <li>
        <a  v-on:click="openShareDialog">Share</a>
      </li>

      <li>
        <a v-on:click="openAboutDialog">?</a>
      </li>

      <!-- login / profile -->
      <li v-if="!loggedIn" v-on:click="$root.authenticate()">
        <a>Log in</a>
      </li>
      <li v-if="loggedIn" class="dropdown-menu"><span class="inline"><a> Hello <b>{{currentUser.username}}</b> !</a></span>
        <span class="dropdown-content">
          <span><a v-on:click="$root.logOut()">Log Out</a></span>
        </span>
      </li>

    </ul>
    <hr>
  </div>

  <div class="top-nav-center nopointer">
    <!-- display a message -->
    <span id="toast-msg" class="hidden nopointer">{{toastMsg}}</span>
  </div>

</nav>
