#filemenu-container {
  margin: -5px;
  margin-top: -7px;
  padding-right: 29px;
  //padding-top:5px;
  font: 14px karla,sans-serif;
  display:inline-block;
  width:200px;
}

ul.a {
  list-style-type: circle;
}

p.filemenu {
  font: 16px;
  color:#5D75C5;
  line-height: 100%;
  width:180px;
  padding-left: 20px;
  outline: none;
}

#filemenu {
  background-color: #202020;
  width: 220px;
  height: 100vh;
  box-shadow: 0px 0px 6px #999;
  color: #B3B3B3;
  cursor: default;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  //margin-top: 48px;

}

#newProject {
  background-color: #2D2D2D;
  padding: 1px;
}

#examples {
  line-height: 150%;
}

#myProjects {
  line-height: 150%;
}

.buttonIcon {
  position: relative;
  clear: none;
  float: right;
  width: 15px;
  margin-right: 20px;
}

.projectList {
  margin-left: 10px;
  line-height: 150%;
}

.accordion {
      margin-bottom: 20px;
}

.timeago {
  font-size: 10px;
  color: #646464;
}

li.filemenu {
  list-style-type: none; 
  padding-left: 2em; 
  line-height: 150%;
}
