@font-face {
	font-family: karla;
	src: url('../fonts/Karla/Karla-Regular.ttf');
}

@font-face {
	font-family: karla-bold;
	src: url('../fonts/Karla/Karla-Bold.ttf');
}

@font-face {
	font-family: source-code;
	src: url('../fonts/Source_Code_Pro/SourceCodePro-Regular.ttf');
}

@font-face {
  font-family: inconsolata;
  src: url('../fonts/Inconsolata/inconsolata.ttf');
}

@font-face {
  font-family: avenir-next-medium;
  src: url('../fonts/Avenir_Next_Medium/AvenirNextLTW01-Medium.ttf');
}

body, html {
  // background: #AFAFAF; /* background handled by iframe instead*/
  color: #58595B;
  height: 100%;
  margin: 0;
  padding: 0;
  font: 14px karla, sans-serif;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
}

.file-handler {
  display: none;
}

#main-container {
  margin-top: 50px;
  padding:5px
}