// Light theme: Primary text color #333
// Light theme: Background #fdfdfd
// Light theme: Secondary text color #6b6b6b
// Light theme: Inactive text color #b5b5b5
// Dark theme: Primary text color #fff
// Dark theme: Secondary text color #c2c2c2
// Dark theme: Inactive text color #7d7d7d 
// Dark theme: Background #333
// p5.js pink #ED225D
// pink-Active: #F10046

// @import "compass/css3/font-face"
// @include font-face(
//   "karla",
//   inline-font-files(
//     '/fonts/Karla/Karla-Regular.ttf', ttf),
//   normal, // font-weight
//   normal  // font-style
// );

@font-face {
  font-family: karla;
  src: url("/fonts/Karla/Karla-Regular.ttf"); }

@font-face {
  font-family: karla-bold;
  src: url("/fonts/Karla/Karla-Bold.ttf"); }

// @font-face {
//   font-family: source-code;
//   src: url("/fonts/Source_Code_Pro/SourceCodePro-Regular.ttf"); }

@font-face {
  font-family: inconsolata;
  src: url("/fonts/inconsolata/inconsolata.ttf"); }

@font-face {
  font-family: avenir-next-medium;
  src: url("/fonts/Avenir_Next_Medium/AvenirNextLTW01-Medium.ttf"); }

@font-face {
  font-family: montserrat-regular;
  src: url("/fonts/Montserrat/Montserrat-Regular.ttf"); }

@font-face {
  font-family: montserrat-bold;
  src: url("/fonts/Montserrat/Montserrat-Bold.ttf"); }

body, html {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font: 14px karla, sans-serif;

  &.dark-theme {
    background-color:#333333;
    color: #58595B;
  }
  &.light-theme {
    background-color:#fbfbfb;
  }
}

body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
}

button{
  -webkit-user-select: none !important;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;

   &:focus {
     outline-width: 0;
   }
}

.file-handler {
  display: none; }

#main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 100px;
  height: 100%; }

#body-row-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin-top: 75px;
  padding:5px;
}

textarea:focus, input:focus{
    outline: 0;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}